[submodule "DirectXTex"]
	path = DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "asio2"]
	path = asio2
	url = git@github.com:zhllxt/asio2.git
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb.git
[submodule "sqlite_orm"]
	path = sqlite_orm
	url = https://github.com/fnc12/sqlite_orm.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
